[submodule ".emacs.d"]
	branch = mine
	path = .emacs.d
	url = https://github.com/lesteve/spacemacs
[submodule ".spacemacs.d"]
	branch = master
	path = .spacemacs.d
	url = https://github.com/lesteve/.spacemacs.d
[submodule ".zprezto"]
	branch = mine
	path = .zprezto
	url = https://github.com/lesteve/prezto
